*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1{
    color: #ffffff;
}
body{
    font-family: 'arial';
    background-color: #1B2838;
    margin: 0;
    padding: 0;
}

.header-inner-content{
    max-width: 1300px;
}

.navbar{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 12px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar li {
  float: left;
  list-style-type: none;
}
.navbar li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar li a:hover {
  background-color: #2C415B;
}
.container-slider {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
}

.slider {
  opacity: 0;
  transition: opacity .2s;
  position: absolute;
  width: 100%;
  border-radius: 10px;
}

.on {
  opacity: 1;
}

#prev-button, #next-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#prev-button img, #next-button img {
  width: 100%;
  height: 100%;
}

#prev-button {
  transform: rotate(180deg);
}