@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Jersey+20&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1{
    color: #ffffff;
    font-family: "Jersey 20", sans-serif;
}
body{
    font-family: 'arial';
    background-color: #1B2838;
    margin: 0;
    padding: 0;
}

.navbar{
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 30px;
  background-color: #223246;
  display: flex;
  justify-content: space-evenly;
  gap: 600px;
}
.navbar li {
  float: left;
  list-style-type: none;
}
.navbar li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar li a:hover {
  background-color: #2C415B;
}
.navbar ul{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.container-slider {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: -100px;
  margin-top: -150px;
}

.container-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
}

.slider {
  opacity: 0;
  transition: opacity .2s;
  position: absolute;
  width: 100%;
  border-radius: 10px;
}

.on {
  opacity: 1;
}

#prev-button, #next-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#prev-button img, #next-button img {
  width: 100%;
  height: 100%;
}

#prev-button {
  transform: rotate(180deg);
}


.populares{
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 4px;
  list-style-type: none;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: "Caprasimo", serif;
}
p, a{
  color: white;
  font-family: "Caprasimo", serif;
}
.separador{
  width: 72%;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.separador hr{
  width: 100%;
  justify-content: center;
  align-items: center;
  opacity: 70%;
}
.rodape h1{
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15px;
}
hr{
    width: 1550px;
    height: 1px;
    border: 0px;
    border-top: 4px solid white;
    margin: 5px auto; 
}
.rodape hr{
  width: 100%;
}
.rodape{
  width: 100%;
}
p{
  margin-top: -8px;
  float:left;
  font-size: 25px;
}

.RDR2{
  margin-top:  30px;
  width: 200px;
  height: 350px;
}
.cyberpunk{
  margin-top:  30px;
  width: 200px;
  height: 350px;
}
.DLthebeast{
  margin-top:  30px;
  width: 200px;
  height: 350px;
}
.BAK{
  margin-top:  30px;
  width: 200px;
  height: 350px;
}
.GTAV{
  margin-top:  30px;
  width: 200px;
  height: 350px;
}
.TR{
  margin-top:  30px;
  width: 200px;
  height: 350px;
}