*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1{
    color: #ffffff;
}
body{
    font-family: 'arial';
    background-color: #1B2838;
    margin: 0;
    padding: 0;
}

.header-inner-content{
    max-width: 1300px;
}

.navbar{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 12px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar li {
  float: left;
  list-style-type: none;
}
.navbar li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar li a:hover {
  background-color: #2C415B;
}

